
@{
    ViewData["Title"] = "Dosyalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-5 mb-5">
    <div class="container">
        <div class="custom-title">
            <h2>DOSYALAR</h2>
        </div>
        <div class="spacer-10"></div>
        <p>        </p><div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/belediye-baskan-aday-adayligi-evrak.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/belediye-baskan-aday-adayligi-evrak.doc" class="un">
                        Belediye Başkan Aday Adaylığı İçin Gerekli Olan Evraklar
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/belediye-baskan-aday-adayligi-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/belediye-baskan-aday-adayligi-formu.doc" class="un">
                        Belediye Başkan Aday Adaylığı Başvuru Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/nobeti-sulh-ceza-hakimligi-dilekce.docx">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/nobeti-sulh-ceza-hakimligi-dilekce.docx" class="un">
                        Nöbetçi Sulh Ceza Hakimliğine Verilecek Dilekçe
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/bagis-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/bagis-formu.doc" class="un">
                        Bağış Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/kesin-hesap-formu.docx">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/kesin-hesap-formu.docx" class="un">
                        Kesin Hesap Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/kurulus-kongre-evraklari.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/kurulus-kongre-evraklari.doc" class="un">
                        Kuruluş Ve Kongre Evrakları
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/yonetim-kurulu-cizelgesi.xls">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/yonetim-kurulu-cizelgesi.xls" class="un">
                        Yönetim Kurulu Çizelgesi
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/uye-kayit-listesi.xls">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/uye-kayit-listesi.xls" class="un">
                        Üye Kayıt Listesi
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/24-haziran-secim-kitapcigi.pdf">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/24-haziran-secim-kitapcigi.pdf" class="un">
                        24 Haziran Seçim Kitapçığı
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/belediye-meclis-uyeligi-aday-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/belediye-meclis-uyeligi-aday-formu.doc" class="un">
                        Belediye Meclis Üyeliği Aday Bildirim Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/il-genel-meclis-uyeligi-aday-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/il-genel-meclis-uyeligi-aday-formu.doc" class="un">
                        İl Genel Meclis Üyeliği Aday Bildirim Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/mdk-aday-adayi-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/mdk-aday-adayi-formu.doc" class="un">
                        MDK Aday Adayı Başvuru Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/mkyk-aday-adayi-formu.doc">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/mkyk-aday-adayi-formu.doc" class="un">
                        MKYK Aday Adayı Başvuru Formu
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/dosyalar/tuzuk.pdf">
                        <img src="~/bbp/images/folder.png">
                    </a>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/dosyalar/tuzuk.pdf" class="un">
                        Tüzük
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

