@model MyWebsite.Entities.Dtos.AdministrativeStaffUpdateDto

@{
    ViewData["Title"] = "Güncelle";
    Layout = "~/Areas/WNqGRjUh3JPe/Views/Shared/_AdminLayout.cshtml";
    ViewBag.DashboardTitle = "Yönetici Bilgilerini Güncelle";
    ViewBag.Dashboard = "Dashboard / Yönetim / Güncelle";
}

<form asp-controller="AdministrativeStaff" asp-action="Update" method="post" enctype="multipart/form-data">

    <div class="row mt-2">
        <div class="col-md-8">

            <div class="card">

                <div class="card-body">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="articleTitle" asp-for="Title"></label>
                        <input type="text" id="articleTitle" class="form-control" placeholder="Ünvan" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="txntFirstName" asp-for="FirstName"></label>
                        <input id="txntFirstName" class="form-control" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="txntLastName" asp-for="LastName"></label>
                        <input id="txntLastName" class="form-control" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="txnSummary" asp-for="Summary"></label>
                        <textarea id="txnSummary" class="form-control" placeholder="Özet Bilgi" asp-for="Summary"> </textarea>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="categoryList" asp-for="CategoryId"></label>
                        <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">

                            <option></option>

                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">

                </div>

                <div class="card-body">

                    <div class="form-group">
                        <label for="thumbnailUpload" asp-for="PictureFile">Resim</label>
                        <input type="file" id="thumbnailUpload" accept="image/*" class="form-control-file" asp-for="PictureFile" />
                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImagePath">Önceki Resim :</label>
                        <input asp-for="ImagePath" type="hidden" />
                        <img class="my-image" src="~/img/@Model.ImagePath" alt="Resim Bulunamadı." />
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-primary btn-block mt-4">Kaydet</button>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

