
@{
    ViewData["Title"] = "Afişler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3 mb-3">
    <div class="container">
        <div class="custom-title">
            <h2>
                Afişler
            </h2>
        </div>
        Afiş Çalışmalarında Kullanabileceğiniz Fotoğraflar<br><br>

        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/files/970e3273-9004-44e4-96f3-db1a76a6833e.jpg">
                        <img src="~/bbp/images/mustafa-destici-afis.jpg">
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="list-icons">
                    <a href="~/bbp/files/970e3273-9004-44e4-96f3-db1a76a6833e.jpg">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/files/970e3273-9004-44e4-96f3-db1a76a6833e.jpg">
                        Mustafa Destici
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <hr>

        @*<div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/files/ebdfc729-c9d8-4e03-8008-32cff03994b1.jpg">
                        <img src="~/bbp/images/mustafa-destici-afis.jpg">
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="list-icons">
                    <a href="~/bbp/files/ebdfc729-c9d8-4e03-8008-32cff03994b1.jpg">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/files/ebdfc729-c9d8-4e03-8008-32cff03994b1.jpg">
                        Miting
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/files/0064fafc-aa2c-4838-8116-7b5cbcc3c784.jpg">
                        <img src="~/bbp/images/mustafa-destici-afis.jpg">
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="list-icons">
                    <a href="~/bbp/files/0064fafc-aa2c-4838-8116-7b5cbcc3c784.jpg">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/files/0064fafc-aa2c-4838-8116-7b5cbcc3c784.jpg">
                        Miting
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row music list-item-file">
            <div class="col-sm-2">
                <div class="list-image">
                    <a href="~/bbp/files/acf6b235-af81-4f7c-a661-a10ec0dac69a.jpg">
                        <img src="~/bbp/images/mustafa-destici-afis.jpg">
                    </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="list-icons">
                    <a href="~/bbp/files/acf6b235-af81-4f7c-a661-a10ec0dac69a.jpg">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="list-title">
                    <a href="~/bbp/files/acf6b235-af81-4f7c-a661-a10ec0dac69a.jpg">
                        Miting
                        <small class="list-subtitle"></small>
                    </a>
                </div>

            </div>
        </div>*@
    </div>
</div>
