@using MyWebsite.Entities.Concrete

@model List<Music> 

<section class="mt-3 mb-3">
    <div class="container mt-3">
        <div class="custom-title">
            <h2>MÜZİKLER</h2>
        </div>
        <div class="w3-container tab">

            @foreach (var music in Model.Take(3))
            {
                <div class="row mb-3 pt-2 pl-2 pr-2" style="background: #f1f3f4;border-radius: 20px;">
                    <div class="col-md-1">
                        <h1><i class="fa fa-music"></i></h1>
                    </div>
                    <div class="col-md-5 pt-2 mt-1">
                        <h5>@music.Name</h5>
                    </div>
                    <div class="col-md-6">
                        <audio controls="controls">
                            <source src="~/music/@music.Name" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            }




        </div>
    </div>
</section>