<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fab fa-wpforms"></span> Yasal Bilgilendirme Formu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:black">Sayın Büyük Birlik Partili gönüldaşımız,</p>                
                Büyük Birlik Partisi olarak kişisel verilerinizin güvenliği konusunda hassasiyet göstermekteyiz. Partimiz ile ilişkili tüm kişilerin her türlü kişisel verilerinin 07.04.2016 tarihinde yayınlanarak yürürlüğe giren 6698 sayılı Kişisel Verilerin Korunması Kanunu (KVK Kanunu) kapsamına uygun işlenmesi, muhafaza edilmesi ve korunmasına büyük önem veriyoruz.
                Siz değerli üyelerimizin paylaşmış olduğu kişisel verileri  işbu kanun kapsamında partimiz tarafından muhafaza edilip, vermiş olduğunuz üyelik onayı çerçevesinde işlenecektir. Partimize ilişkin tanıtım, teşekkür, bilgilendirme ve duyuru amaçlı iletişimleri gerçekleştirmek, üyelik ve gönüllülük çalışmalarını geliştirmek amaçlarıyla kişisel verileriniz tarafımızca kullanılabilecektir.
                Bu sorumluluğumuzun tam idraki ile KVK Kanunu’nda tanımlı şekli ile “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi mevzuattaki sınırlar çerçevesinde işlemekte olduğumuzu bilgilerinize sunarız.
            </div>
            <div class="modal-footer">
               
                <button type="button" id="btnAccept" data-dismiss="modal" class="btn btn-primary btn-block"><span class="fas fa-check"></span> Kabul ediyorum</button>
            </div>
        </div>
    </div>
</div>