@using MyWebsite.Entities.Concrete
@model List<Slider>

@{
    ViewData["Title"] = "Slider";
    Layout = "~/Areas/WNqGRjUh3JPe/Views/Shared/_AdminLayout.cshtml";
    ViewBag.DashboardTitle = "Slider Resimleri";
    ViewBag.Dashboard = "Dashboard / Slider";
    var i = 1;
}

<div><a asp-area="WNqGRjUh3JPe" asp-controller="Slider" asp-action="AddSlider" type="button" id="btnAddNews" class=" btn btn-success">Yeni Slider Resmi Ekle</a></div>
<br />
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Slider Alanında Görüntülenen Resimler
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="sliderDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>                       
                        <th>Küçük Resim</th>                        
                        <th>Başlık</th>                        
                        <th>İşlemler</th>                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>                       
                        <th>Küçük Resim</th>
                        <th>Başlık</th>
                        <th>İşlemler</th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var slider in Model)
                    {
                        <tr name="@slider.Id">
                            <td>@i</td>
                            <td><img src="~/img/@slider.Path" alt="Resim bulunamadı." class="my-image-table"/></td>
                            <td>@slider.Title</td>
                            <td>                               
                                <button class="btn btn-danger btn-sm btn-delete" data-id="@slider.Id"><span class="fas fa-minus-circle"></span></button>
                            </td>
                        </tr>
                        i++;

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/sliderIndex.js" type="application/ecmascript"></script>
}

@section Styles {
    <link href="~/css/imageStyles.css" rel="stylesheet" />
} 