@using MyWebsite.Entities.Concrete
@model List<Image>

@{
    ViewData["Title"] = "Mustafa DESTİCİ Resimleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-3 mb-3">
    <div class="w3-container tab">
        <div class="course_demo1 mt-3">
            <div class="custom-title">
                <h2>MUSTAFA DESTİCİ </h2>
            </div>
            <div class="row">
                @foreach (var image in Model)
                {
                    <div class="col-md-3">
                        <a href="~/img/@image.Path" data-fancybox="gallery" video-wrapper mb-3><img src="~/img/@image.Path"></a>
                    </div>
                }



            </div>
            <div class="text-center"> <a class="btn btn-primary" href="/Image/Galery">Galeriye Dön</a></div>
        </div>
    </div>
</section>
