

<div class="middle-sec-agileinfo-w3ls">
    <div class="row">
        <div class="col-md-1 mr-5"></div>
        <div class="col-md-4 news-left">
            <a class="twitter-timeline" data-lang="tr" data-height="900" href="https://twitter.com/bbpgenelmerkez?ref_src=twsrc%5Etfw" data-chrome="nofooter noheader noborders"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="clearfix"> </div>
    </div>

</div>