
<p class="text-success" id="txtbulletinBottomResult" style="display:none;"></p>
<form asp-controller="Bulletin" asp-action="Subscribe" method="post">  
        <input id="bulletinBottomEmail" type="email" placeholder="E-Posta Adresinizi Giriniz..." name="email" required="">   
        <button id="bulletinBottomSubscribe" class="btn btn-primary submit" type="submit">ABONE OL</button>
</form>

