
<p class="text-success" id="txtbulletinUpperResult" style="display:none;"></p>
<form asp-controller="Bulletin" asp-action="Subscribe" method="post">
    <input id="bulletinUpperEmail" type="email" placeholder="E-Posta Adresinizi Giriniz..." name="email" required="">
    <input id="bulletinUpperSubscribe" type="submit" value="Abone Ol">
</form>

