

<header>
    <div class="top-bar_sub_w3layouts container-fluid mt-lg-3">
        <div class="row">
            <div class="col-6 col-md-3 logo text-left">
                <a class="navbar-brand" href="/" style="padding-top: 0 !important;">
                    <img src="~/bbp/images/logo.png"> BÜYÜK BİRLİK PARTİSİ
                </a>
            </div>
            <div class="col-2 col-md-7">
                <div class="header_top" id="home">
                    <nav class="navbar navbar-expand-lg navbar-light bg-darkp">
                        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item-anasayfa click">
                                    <a class="nav-link" href="/">
                                        ANASAYFA
                                    </a>
                                </li>                              

                                <li class="nav-item-kadromuz dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        KADROMUZ
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/BaskanlikDivani">BAŞKANLIK DİVANI</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/MKYKUyeleri">MKYK ÜYELERİ</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/MDKUyeleri">MDK ÜYELERİ</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/YuksekDanismaKurulu">YÜKSEK DANIŞMA KURULU</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/OzelKalem">ÖZEL KALEM</a>
                                    </div>
                                </li>


                                <li class="nav-item-partimiz dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        PARTİMİZ
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/Projeler">PROJELER</a>
                                        <div class="dropdown-divider"></div>                                      
                                        <a class="dropdown-item" href="~/bbp/dosyalar/Parti-Programi.pdf">PROGRAM</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="~/bbp/dosyalar/tuzuk.pdf">TÜZÜK</a>
                                    </div>
                                </li>
                                <li class="nav-item-haberler click">
                                    <a class="nav-link" href="/Haberler">HABERLER</a>
                                </li>
                                <li class="nav-item-videolar click">
                                    <a class="nav-link" href="https://www.youtube.com/user/bbpgenelmerkezi" target="_blank">VİDEOLAR</a>
                                </li>
                                <li class="nav-item-duyurular click">
                                    <a class="nav-link" href="/Duyurular">DUYURULAR</a>
                                </li>
                                <li class="nav-item-kadinKollari click">
                                    <a class="nav-link" href="/KadinKollari">KADIN KOLLARI</a>
                                </li>                              
                                <li class="nav-item-iletisim click">
                                    <a class="nav-link" href="/Iletisim">İLETİŞİM</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-4 col-md-2 top-forms text-center mt-md-1 mt-0">
                <span>
                    <a href="/BizeKatilin" class="btn btn-primary register">ÜYEMİZ OLUN</a>
                </span>
            </div>
        </div>
    </div>

</header>