@model MyWebsite.MvcUI.Areas.Admin.Models.MusicAddViewModel

@{
    ViewData["Title"] = "AddMusic";
    Layout = "~/Areas/WNqGRjUh3JPe/Views/Shared/_AdminLayout.cshtml";
    ViewBag.DashboardTitle = "";
    ViewBag.Dashboard = "Dashboard / Müzik Listesi / Müzik Ekle";
}

<form asp-controller="Music" asp-action="AddMusic" method="post" enctype="multipart/form-data">

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                   Müzik Dosyası Ekleme

                </div>

                <div class="card-body">


                    <div class="form-group">
                        <label class="text-info" for="thumbnailUpload" asp-for="MusicFile">Lütfen .mp3 uzantılı bir müzik dosyası seçiniz.</label>
                        <input type="file" id="thumbnailUpload" accept="image/*" class="form-control-file" asp-for="MusicFile" />
                        <span asp-validation-for="MusicFile" class="text-danger"></span>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-primary btn-block mt-4">Kaydet</button>

                    </div>

                </div>

            </div>

        </div>

    </div>


</form>

<br />

<a asp-area="WNqGRjUh3JPe" asp-controller="Music" asp-action="Index" class="btn btn-success">Bir Üst Menüye Dönmek İçin Tıklayın</a>
