<section class="slider-section">
    <div class="video-wrapper mb-3">

        <video autoplay muted loop playsinline id="myVideo">
            <source src="~/bbp/video/sliderback.mp4" type="video/mp4">
        </video>

        <div class="yirmibesyillogo">
            <div class="row mt-3">
                <div class="col-3 col-md-3">
                    <div class="box-1">
                        <div class="title-1">
                            <a href="">Kurucu Genel Başkanımız</a>
                        </div>
                        <div class="title-2">
                            <a href="">Muhsin Yazıcıoğlu</a>
                        </div>
                        <div class="image">
                            <a href="">
                                <img src="~/bbp/images/muhsin-yazicioglu-slider.png">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-6 col-md-6 text-center">
                    <div id="typedtext"></div>

                </div>
                <div class="col-3 col-md-3">
                    <div class="box-1">
                        <div class="title-1">
                            <a href="">Genel Başkanımız</a>
                        </div>
                        <div class="title-2">
                            <a href="l">Mustafa Destici</a>
                        </div>

                        <div class="image">
                            <a href="">
                                <img src="~/bbp/images/mustafa-destici-slider.jpg">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>