@model MyWebsite.MvcUI.Models.MaintenanceTimeViewModel

@{
    Layout = "_ComingSoonLayout";
    ViewBag.Title = "Bakımdayız";
    ViewBag.EndTime = Model.EndTime;    
     
}
<div class="container">


    <div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
        <div class="row" style="margin-bottom:-50px">           
            <div class="col-3 col-md-2">
                <img width="120" style="margin-right:600px;" src="~/bbp/images/logo.png" alt="LOGO">
            </div>
            <div class="col-6 col-md-8 ">
                <h3 class="l1-txt1 txt-center p-b-40 respon1">

                    Bakımdayız..
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class=" col-9 col-md-12">


                <img width="150" id="gearGif" src="https://z0sqrs02-a.akamaihd.net/loading_icons/loading-default.gif" />
                <p style="color: white; text-align: center">Sizlere daha iyi hizmet verebilmek adına yaptığımız bakım çalışmalarını en kısa sürede tamamlayıp geri döneceğiz.</p>
                <p style="color:white; text-align:center" > Anlayışınız için teşekkür ederiz.</p>
                <div class="flex-w flex-c-m cd100">

                    <div class="flex-col-c wsize1 m-b-30">
                        <span class="l1-txt2 p-b-9 days">00</span>
                        <span class="s1-txt1 where1 p-l-35">Gün</span>
                    </div>

                    <div class="flex-col-c wsize1 m-b-30">
                        <span class="l1-txt2 p-b-9 hours">00</span>
                        <span class="s1-txt1 where1 p-l-35">Saat</span>
                    </div>

                    <div class="flex-col-c wsize1 m-b-30">
                        <span class="l1-txt2 p-b-9 minutes">00</span>
                        <span class="s1-txt1 where1 p-l-35">Dakika</span>
                    </div>

                    <div class="flex-col-c wsize1 m-b-30">
                        <span class="l1-txt2 p-b-9 seconds">00</span>
                        <span class="s1-txt1 where1 p-l-35">Saniye</span>
                    </div>
                </div>

                <div class="flex-w flex-c-m p-b-35">
                    <a href="https://www.facebook.com/BBP.org.tr/" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://twitter.com/bbpgenelmerkez" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="https://www.youtube.com/user/bbpgenelmerkezi" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>


        </div>

    </div>

</div>   